{% extends "notebook/layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-green" style="margin-top:10px;">
                    <div class="panel-heading">New Lesson</div>
                    <div class="panel-body">
                        </form>
                        <form method="POST" action="./add/" autocomplete="off">
                        {% csrf_token %}
                            <table class="table table-bordered table-striped">
                                <caption>Add a new Lesson</caption>
                                <tbody>
                                    <tr>
                                        <th>Name</th>
                                        <td>
                                            <input type="text" name="new_lesson_name" value="{{new_name}}" class="form-control" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Notes</th>
                                        <td>
                                            <input type="text" name="new_lesson_note" value="" class="form-control" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <input class="btn btn-success" type="submit" name="submit" value="Add" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">More</div>
                    <div class="panel-body">
                        <a class="btn btn-primary" href="../words_add/">Add Words</a>
                        <a class="btn btn-primary" href="../sentences_add/">Add Sentences</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="panel panel-primary" style="margin-top: 10px;">
                    <div class="panel-heading">Lessons List</div>
                    <form method="post" action="./delete/">
                    {% csrf_token %}
                    <div class="panel-body">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Notes</th>
                                    <th>Tools</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for lesson in lessons %}
                                <tr>
                                    <td>
                                        <input name="lesson_id[]" value="{{lesson.id}}" type="checkbox" class="form-control" />
                                    </td>
                                    <td>{{lesson.name}}</td>
                                    <td>{{lesson.note}}</td>
                                    <td>
                                        <a href="./{{lesson.id}}/words/" class="btn btn-primary">Words</a>
                                        <a href="./{{lesson.id}}/sentences/" class="btn btn-primary">Sentences</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure to delete these lessons?')">Delete</button>
                    </div>
                    </form>
                </div>
            </div>
        
        
    </div>
    </div>
{% endblock %}