{% extends "notebook/layout.html" %}
{% block content %}
        <div class="panel panel-default" style="margin:10px;">
            <div class="panel-heading">Add new sentences</div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <span>Add sentences to: </span>
                    <select name="lesson">
                        {% for lesson in lessons %}
                            <option value="{{lesson.id}}">{{lesson.name}} - {{lesson.note}}</option>
                        {% endfor %}
                    </select>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Sentence</th>
                            <th>Translation</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="dstTbody">
                        <tr>
                            <td><input id="word_1" name="sentence[]" class="form-control" /></td>
                            <td><input class="translation_input form-control" name="translation[]" /></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <button class="btn btn-primary" type="submit">Add</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                </form>
            </div>
        </div>
{% endblock %}
{% block scripts %}
        <script>
var numSentences = 1;
            
function tabHandler(e) {
    console.log(e)
    var TABKEY = 9;
    if (e.keyCode == TABKEY) {
        console.log("Tab key pressed.");
        if (e.preventDefault) {
            e.preventDefault();
        }
        numSentences += 1;
        
        var inputSentence = $('<input name="sentence[]" class="form-control" id="sentence_'+numSentences+'" />');
        var inputTranslation = $('<input name="translation[]" class="translation_input form-control" />');
        var btnDelRow =$('<button></button>')
                        .append('<i class="fa fa-times" />')
                        .prop('id', "jfjfjf")
                        .prop('type', "button")
                        .addClass("btn btn-danger")
                        .click(delRow)
        var tr = $("<tr></tr>")
                     .append($('<td></td>').append(inputSentence))
                     .append($('<td></td>').append(inputTranslation))
                     .append($('<td></td>').append(btnDelRow))
                     .appendTo('#dstTbody');
        $("#sentence_"+numSentences).focus()
        
        $('.translation_input').unbind('keydown');
        $('.translation_input').last().bind('keydown', tabHandler);
    }
}

function delRow(e) {
    var element = e.target;
    while (element.tagName != 'TR' && element.tagName != 'BODY') {
        element = element.parentNode;
    }
    console.log(element.tagName);
    if (element.tagName == 'TR') {
        $(element).remove();
    }
    
    $('.translation_input').unbind('keydown');
    $('.translation_input').last().bind('keydown', tabHandler);
}

$(".translation_input").bind('keydown', tabHandler);
        </script>
{% endblock %}