<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>V2</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/sb-admin-2.css' %}" />
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
        <style>

        </style>
    </head>
    <body>
        
        <div class="panel panel-default" style="margin:10px;">
            <div class="panel-heading">V2</div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <span>Add words to: </span>
                    <select name="lesson">
                        {% for lesson in lessons %}
                            <option value="{{lesson.id}}">{{lesson.name}} - {{lesson.note}}</option>
                        {% endfor %}
                    </select>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Word</th>
                            <th>Pronunciation</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tbody id="dstTbody">
                        <tr>
                            <td><input id="word_1" name="word[]" class="form-control" /></td>
                            <td><input name="pronunciation[]" class="form-control" /></td>
                            <td><input class="note_input form-control" name="note[]" /></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <button class="btn btn-primary" type="submit">Add</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                </form>
            </div>
        </div>
                
        
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/sb-admin-2.js' %}"></script>
        <script>
var numWords = 1;
            
function tabHandler(e) {
    console.log(e)
    var TABKEY = 9;
    if (e.keyCode == TABKEY) {
        console.log("Tab key pressed.");
        if (e.preventDefault) {
            e.preventDefault();
        }
        numWords += 1;
        
        $('.note_input').unbind('keydown');
        
        var inputWord = $('<input name="word[]" class="form-control" id="word_'+numWords+'" />');
        var inputPronun = $('<input name="pronunciation[]" class="form-control" />');
        var inputNote = $('<input name="note[]" class="note_input form-control" />').bind('keydown', tabHandler);
        
        var tr = $("<tr></tr>")
                     .append($('<td></td>').append(inputWord))
                     .append($('<td></td>').append(inputPronun))
                     .append($('<td></td>').append(inputNote))
                     .appendTo('#dstTbody');
        $("#word_"+numWords).focus()
    }
}

$(".note_input").bind('keydown', tabHandler);
        </script>
    </body>
</html>