{% extends "notebook/layout.html" %}
{% block content %}
    <div class="container">
        <div class="panel panel-info" style="margin-top: 10px;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">Words (Lesson: {{lesson.name}} - {{lesson.note}})</div>
                    <div class="col-sm-6">
                        <input autocomplete="off" onchange="ToggleDisplay()" id="iShowMarked" type="checkbox" /><label for="iShowMarked">Marked Only | </label>
                        <input autocomplete="off " onchange="ToggleDisplay()" id="iShowHighlighted" type="checkbox" /><label for="iShowHighlighted">Highlighted Only | </label>
                        <input autocomplete="off" onchange="ToggleDisplay()" id="iHideMastered" type="checkbox" /><label for="iHideMastered">Hide Mastered</label>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Word</th>
                            <th>Pronunciation</th>
                            <th>Note</th>
                            <th>Tools</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyWords">
                        {% for word in words %}
                        <tr class="{%if word.marked %}tr-marked{%endif%} {%if word.highlighted %}tr-highlighted{%endif%} {%if word.mastered %}tr-mastered{%endif%}">
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>{{word.word}}</td>
                            <td>{{word.pronunciation}}</td>
                            <td>{{word.note}}</td>
                            <td>
                                <button 
                                    data-id="{{word.id}}" 
                                    onclick="toggleMark(this)" 
                                    class="word-mark btn btn-circle{% if word.marked %} btn-danger{% endif %}">
                                    <i class="fa fa-heart"></i>
                                </button>
                                <button 
                                    data-id="{{word.id}}" 
                                    onclick="toggleHighlight(this)" 
                                    class="word-highlight btn btn-circle{% if word.highlighted %} btn-warning{% endif %}">
                                    <i class="fa fa-lightbulb-o"></i>
                                </button>
                                <button
                                    data-id="{{word.id}}" 
                                    onclick="toggleMastered(this)" 
                                    class="word-mastered btn btn-circle{% if word.mastered %} btn-success{% endif %}">
                                    <i class="fa fa-check"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
function word_ajax(element, action, classname) {
    var word_id = $(element).attr('data-id');
    $.ajax({
        cache: false,
        url: "./"+action+"/",
        method: 'get',
        data: {'id': word_id},
        dataType: "json",
        success: function(data) {
            if (data) {
                switch (action) {
                    case "mark":
                        $(element).closest("tr").addClass("tr-marked");
                        break;
                    case "highlight":
                        $(element).closest("tr").addClass("tr-highlighted");
                        break;
                    case "mastered":
                        $(element).closest("tr").addClass("tr-mastered");
                        break;
                }
            } else {
                switch (action) {
                    case "mark":
                        $(element).closest("tr").removeClass("tr-marked");
                        break;
                    case "highlight":
                        $(element).closest("tr").removeClass("tr-highlighted");
                        break;
                    case "mastered":
                        $(element).closest("tr").removeClass("tr-mastered");
                        break;
                }
            }
            $(element).toggleClass(classname);
            $(element).closest("tr")
        },
        error: function() {
            alert("Ajax failed.");
        }
    })
}
    
function toggleMark(e) {
    word_ajax(e, "mark", "btn-danger")
}

function toggleHighlight(e) {
    word_ajax(e, "highlight", "btn-warning")
}

function toggleMastered(e) {
    word_ajax(e, "mastered", "btn-success")
}

function ToggleDisplay() { // Hide/Show words according to checkbox states
    var flagMarked = $("#iShowMarked").prop('checked');
    var flagHighlighted = $("#iShowHighlighted").prop('checked');
    var flagMastered = $("#iHideMastered").prop('checked');
    
    $("#tbodyWords tr").each(function(i, e) {
            if ($(e).hasClass("tr-mastered") && flagMastered) {
                $(e).css("display", "none");
            } else if (!$(e).hasClass("tr-marked") && flagMarked) {
                $(e).css("display", "none");
            } else if (!$(e).hasClass("tr-highlighted") && flagHighlighted) {
                $(e).css("display", "none");
            } else {
                $(e).css("display", "table-row");
            }
        })
    
}
/*$(document).ready(
    $('.word-mark').each(function(e) {
        $(this).bind('click', toggleMark);
    })
)*/
</script>
{% endblock %}